<%= form_with(model: paciente) do |form| %>
  <% if paciente.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paciente.errors.count, "error") %> prohibited this paciente from being saved:</h2>

      <ul>
        <% paciente.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :nome, style: "display: block" %>
    <%= form.text_field :nome %>
  </div>

  <div>
    <%= form.label :cpf, style: "display: block" %>
    <%= form.text_field :cpf %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :data_de_nascimento, style: "display: block" %>
    <%= form.date_field :data_de_nascimento %>
  </div>
  <div>
    <h2>Endereço</h2>
    <%= form.fields_for :endereco do |endereco_form| %>
      <p>
        <%= endereco_form.label :cep %><br>
        <%= endereco_form.text_field :cep %>
      </p>

      <p>
        <%= endereco_form.label :cidade %><br>
        <%= endereco_form.text_field :cidade %>
      </p>

      <p>
        <%=endereco_form.label :bairro %><br>
        <%= endereco_form.text_field :bairro %>
      </p>

      <p>
        <%= endereco_form.label :logradouro %><br>
        <%= endereco_form.text_field :logradouro %>
      </p>

      <p>
        <%= endereco_form.label :complemento %><br>
        <%= endereco_form.text_field :complemento %>
      </p>
    <% end %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
