<p style="color: green"><%= notice %></p>

<h1>Consultorio</h1>

<div>

    <p>
      <%= link_to "cadastrar Médico",new_medico_path %>
    </p>

    <p>
    <%= link_to "exibir Médicos",medicos_path %>
    </p>

    <p>
      <%= link_to "cadastrar Paciente",new_paciente_path %>
    </p>

  <p>
    <%= link_to "exibir Pacientes",pacientes_path %>
  </p>

  <p>
    <%= link_to "cadastrar consulta",new_consultum_path %>
  </p>

    <p>
       Obs: Cadastre e acesse um paciente para pode criar consultas

    </p>
  <p>

  </p>

</div>

