<div id="<%= dom_id medico %>">
  <p>
    <strong>Nome:</strong>
    <%= medico.nome %>
  </p>

  <p>
    <strong>Cpf:</strong>
    <%= medico.cpf %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= medico.email %>
  </p>

  <p>
    <strong>Especialidade:</strong>
    <%= medico.especialidade %>
  </p>

  <p>
    <strong>Crm:</strong>
    <%= medico.crm %>
  </p>

  <p>
    <strong>Consultas:</strong>
  <div id="consultum">
    <% medico.consultum.each do |consulta| %>
      <style>
        table{
            width: 500px;
            border-collapse: collapse;

        }
        td {
            border: 1px solid black;
            padding: 8px;

        }
      </style>
      <ul>
        <table>
          <tr>
            <td> Consulta </td>
            <td> Paciente </td>
            <td> Data e Hora </td>
          </tr>
          <tr>
            <td><%= consulta.id %></td>
            <td><%= consulta.paciente.nome %></td>
            <td><%= consulta.data_hora %></td>
          </tr>
        </table>
      </ul>
    <% end %>
  </div>
  </p>

</div>
