<p style="color: green"><%= notice %></p>

<%= render @medico %>
<p>
  <strong> Consultas:</strong>
<table>
  <thead>
  <tr>
    <th>Data</th>
    <th>Horario</th>
    <th>Medico</th>
  </tr>
  </thead>
  <tbody>
  <% @medico.consultum.each do |consultum| %>
    <tr>
      <td><%= consultum.data %> </td>
      <td><%= consultum.horario %></td>
      <td><%= consultum.paciente.nomeCompleto %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</p>

<div>
  <%= link_to "Edit this medico", edit_medico_path(@medico) %> |
  <%= link_to "Back to medicos", medicos_path %>

  <%= button_to "Destroy this medico", @medico, method: :delete %>
  <%= link_to "Back to menu", menus_url %>
</div>
